<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Корочки.Есть</title>
</head>
<body>
    {% for request in requests %}
    <p>{{ request["date"] }}</p>
    {% endfor %}

    <form action="/create/" method="post">
        <select name="course_id">
            {% for course in courses %}
            <option value="{{ course.id }}">{{ course["title"] }}</option>
            {% endfor %}
        </select>
        <select name="payment_id">
            {% for payment in payments %}
            <option value="{{ payment.id }}">{{ payment["title"] }}</option>
            {% endfor %}
        </select>
        <input type="date" name="date">
        <button type="submit">Отправить</button>
    </form>
</body>
</html>