<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
      form p {
        visibility: hidden;
        margin-top: 4px;
        font-size: small;
      }

      input:user-invalid + p {
        visibility: visible;
      }

      form:has(:invalid) button {
        pointer: default;
        opacity: 0.5;
        pointer-events: none;
      }
    </style>
</head>
<body>

{% if error %}
<p>{{ error }}</p>
{% endif %}

<form action="/register" method="post" novalidate>
  <input type="text" name="login" placeholder="Логин" pattern="[a-zA-Z0-9]{6,}" required>
  <p>Латиница и цифры, не менее 6 символов</p>

  <input type="password" name="password" placeholder="Пароль" minlength="8" required>
  <p>Минимум 8 символов</p>

  <input type="text" name="fio" placeholder="ФИО" pattern="[а-яА-Я ]+" required>
  <p>Символы кириллицы и пробелы</p>

  <input type="text" name="phone" placeholder="Телефон" pattern="8\(\d\d\d\)\d\d\d-\d\d-\d\d" required>
  <p>Формат: 8(XXX)XXX-XX-XX</p>

  <input type="email" name="email" placeholder="Email" required>
  <p>Формат: электронной почты</p>

  <button type="submit">Отправить</button>
</form>
</body>
</html>