<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/vendor/pico.css">
    <link rel="stylesheet" href="/static/vendor/glide.core.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
    <div class="page">
        <header class="header">
            <span>Регистрация</span>
            <img class="logo" src="/static/images/branding/image05.jpg" />
            {% block nav %} {% endblock %}
        </header>
    </div>
    <div class="field">
    <input>
      <button> ок</button>
    </div>


</body>
</html>